{# Admin #}

{% extends "templates/app.twig" %}

{% block title %}{{ AppName }} - Admin Dashboard{% endblock %}

{% block content %}

    <div class="container" id="admin">
        <div class="row">
            <div class="col-12 w-100 m-auto text-center bg-dark text-white rounded shadow">

                <p class="w-100 p-4 m-auto text-center h4 fw-bold text-white">Admin Dashboard</p>

                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>
                <p>Admin Stuff Here!</p>

            </div>
        </div>
    </div>

{% endblock %}
