{# Error #}

{% extends "templates/app.twig" %}

{% block title %}{{ AppName }} - Error! Something fucked up...{% endblock %}

{% block content %}

<div class="container" id="error">
    <div class="row">
        <div class="col-12 p-0 m-auto text-center">
            <p class="h4 fw-bold">Error!</p>
            <p class="h5">Something fucked up...</p>
        </div>
    </div>
</div>

{% endblock %}
