{# Login #}

{% extends "templates/app.twig" %}

{% block title %}{{ AppName }} - Login{% endblock %}

{% block content %}

    <div class="container py-4" id="login">
        <div class="row">
            <div class="col-12 w-100 bg-dark text-white rounded shadow">

                <p class="w-100 p-3 m-auto text-center h4 fw-bold text-primary">Account Login</p>

                <form class="form-group px-4" action="/login" method="POST">
                    <div class="row py-2">
                        <label for="email" class="w-100">Email Address:</label>
                        <input class="form-control form-control-lg" type="text" name="email" id="email" placeholder="your@email.com" aria-label="Email" autocomplete="off">
                    </div>
                    <div class="row py-2">
                        <label for="password" class="w-100">Password:</label>
                        <input class="form-control form-control-lg" type="password" name="password" id="password" placeholder="Password" aria-label="Password" autocomplete="off">
                    </div>

                    {{ csrf }}

                    <div class="w-100 py-4 m-auto text-center input-group-btn">
                        <button class="btn btn-lg btn-primary fw-bold" type="submit" id="login">Login</button>
                        <button class="btn btn-lg btn-primary fw-bold" type="button" id="forgot">Forgot?</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
