{# Register #}

{% extends "templates/app.twig" %}

{% block title %}{{ AppName }} - Register{% endblock %}

{% block content %}

<div class="container" id="register">
    <div class="row">
        <div class="col-12 p-0 m-auto text-center">
            <p class="h4 fw-bold">Register</p>
            <p class="h5">Register an account...</p>
        </div>
    </div>
</div>

{% endblock %}
