{# Register #}

{% extends "templates/app.twig" %}

{% block title %}{{ AppName }} - Register{% endblock %}

{% block content %}

<div class="container p-3 m-auto text-center" id="register">
    <div class="row w-100 m-auto text-center">
        <div class="col-6 bg-dark text-white p-3 m-auto text-center rounded shadow">
            <p class="h4 fw-bold p-2">Register Account</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
            <p>Register Account...</p>
        </div>
    </div>
</div>

{% endblock %}
