{# Footer #}

<nav class="navbar navbar-dark navbar-expand p-0 m-auto fw-bold" id="bottomNav">
    <div class="container w-100 p-0 m-auto">

        <ul class="navbar-nav p-0 ml-auto">
            <li class="nav-item p-0 m-auto">
                <a href="#" class="nav-link disabled">Copyright &copy {{ "now"|date("Y") }}<br>All Rights Reserved</a>
            </li>
        </ul>

        <ul class="navbar-nav p-0 mr-auto">
            <li class="nav-item p-0 m-auto">
                <a href="#" class="nav-link" id="scroll">Scroll To Top</a>
            </li>
        </ul>

    </div>
</nav>
